<h1 class="main-title">
  Scuole Parrocchiali Desio / Style guide
</h1>

<section class="style-component style-component--logo">
  <h1>Logo</h1>
  <p>
    L'idea che si vuole comunicare è di comunità educante, che sperimenta e abbraccia la diversità come elemento fortificante.
  </p>
  <p>
    Il puzzle esprime la complessità di questa visione e lo stile visuale minimale la rende accessibile.
  </p>
  <p>
    I colori del logo riprendono i colori delle sezioni comuni a tutti gli istituti.
  </p>
  <p>
    L'unione dei pezzi del puzzle rappresenta la comunità educante: bambini, genitori, istituto e contesto di riferimento.
  </p>
  <p>
    La disposizione peculiare dei pezzi del puzzle trasmette il legame di interdipendenza dei soggetti sopra menzionati.
  </p>
  <p>
    L'uso di un logo quadrato permette infine una buona versatilità di posizionamento all'interno della strategia di comunicazione online e offline.
  </p>
  <div class="logo-wrapper">
    <figure>
      <img src="images/logo.png" style="width: 200px" />
      <figcaption>200px</figcaption>
    </figure>
    <figure>
      <img src="images/logo.png" style="width: 150px" />
      <figcaption>150px</figcaption>
    </figure>
    <figure>
      <img src="images/logo.png" style="width: 100px" />
      <figcaption>100px</figcaption>
    </figure>
    <figure>
      <img src="images/logo.png" style="width: 50px" />
      <figcaption>50px</figcaption>
    </figure>
  </div>
</section>

<section class="style-component style-component--palette">
  <h1>Palette dei colori</h1>
  <p>
    Il design del sito si basa su una scala di grigi.
  </p>
  <p>
    Il logo, visibile in ogni fase della navigazione, diventa l'unico elemento <strong>strutturale</strong> dotato di colore.
  </p>
  <p>
    Le immagini presenti nei contenuti vengono conseguentemente risaltate.
  </p>
  <p>
    La scelta di un design minimale diventa un supporto adeguato alla fruizione di contenuti professionali.
  </p>




  <div class="color-grid">
    <div class="palette-color palette-color--alternative-color-font">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#FFFFFF</div>
      <div class="palette-color__variable">$alternative-color-font</div>
      <div class="palette-color__description">Colore del font in caso di background scuro</div>
    </div>
    <div class="palette-color palette-color--site-background">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#FFFEFE</div>
      <div class="palette-color__variable">$site-background</div>
      <div class="palette-color__description">Sfondo del sito</div>
    </div>
    <div class="palette-color palette-color--site-secondary-color-one">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#EFEFEF</div>
      <div class="palette-color__variable">$site-secondary-color-one</div>
      <div class="palette-color__description">Colore secondario per i componenti del sito #1</div>
    </div>
    <div class="palette-color palette-color--site-secondary-color-two">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#DCDCDC</div>
      <div class="palette-color__variable">$site-secondary-color-two</div>
      <div class="palette-color__description">Colore secondario per i componenti del sito #2</div>
    </div>
    <div class="palette-color palette-color--background-footer">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#505151</div>
      <div class="palette-color__variable">$background-footer</div>
      <div class="palette-color__description">Sfondo footer</div>
    </div>
    <div class="palette-color palette-color--site-primary-color">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#282A2E</div>
      <div class="palette-color__variable">$site-primary-color</div>
      <div class="palette-color__description">Colore per il font e colore primario per i componenti del sito</div>
    </div>
    <div class="palette-color palette-color--logo-color-one">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#005080</div>
      <div class="palette-color__variable">$color--logo-color-one</div>
      <div class="palette-color__description">Colore logo #1</div>
    </div>
    <div class="palette-color palette-color--logo-color-two">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#47AB6C</div>
      <div class="palette-color__variable">$color--logo-color-two</div>
      <div class="palette-color__description">Colore logo #2</div>
    </div>
    <div class="palette-color palette-color--logo-color-three">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#F2B134</div>
      <div class="palette-color__variable">$color--logo-color-three</div>
      <div class="palette-color__description">Colore logo #3</div>
    </div>
    <div class="palette-color palette-color--logo-color-four">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#E2482E</div>
      <div class="palette-color__variable">$color--logo-color-four</div>
      <div class="palette-color__description">Colore logo #4</div>
    </div>
  </div>
</section>

<section class="style-component style-component--font">
  <h1>Font</h1>

  <h2>Titoli</h2>
  <p>
    Il font <a href="https://fonts.google.com/specimen/Bitter" target="_blank"> "Bitter"</a> e il font <a href="https://fonts.google.com/specimen/Noto+Serif" target="_blank"> "Noto Serif"</a> sono le due proposte che riguardano il carattere che sarà utilizzato per ogni titolo di sezione e post presente nel sito, come negli esempi  sottostanti.
  </p>

  <div class="font-comparison">
    <p class="font-name">Bitter</p>
    <p class="font-name">Noto Serif</p>

    <h2 class="test-title font-example--title-a" style=" font-size: 30px;">Punti di forza delle nostre scuole</h2>
    <h2 class="test-title font-example--title-b" style=" font-size: 30px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 30px</p>
    <h2 class="test-title font-example--title-a" style=" font-size: 25px;">Punti di forza delle nostre scuole</h2>
    <h2 class="test-title font-example--title-b" style=" font-size: 25px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 25px</p>
    <h2 class="test-title font-example--title-a" style=" font-size: 20px;">Punti di forza delle nostre scuole</h2>
    <h2 class="test-title font-example--title-b" style=" font-size: 20px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 20px</p>
    <h2 class="test-title font-example--title-a" style=" font-size: 15px;">Punti di forza delle nostre scuole</h2>
    <h2 class="test-title font-example--title-b" style=" font-size: 15px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 15px</p>
  </div>

  <h2>Testo</h2>
  <p>
    Il font <a href="https://fonts.google.com/specimen/Lato"target="_blank">Lato</a> o <a href="https://fonts.google.com/specimen/Noto+Sans" target="_blank">Noto Sans</a> sono le due proposte per il font che sarà impiegato per ogni altro tipo di testo presente nel sito.
  </p>

  <div class="font-comparison">
    <p class="font-name">Lato</p>
    <p class="font-name">Noto Sans</p>
    <p class="test-text font-example--text-a" style="font-size:18px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="test-text font-example--text-b" style="font-size:18px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="font-size">Dimensione font: 18px</p>
    <p class="test-text font-example--text-a" style="font-size:15px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="test-text font-example--text-b" style="font-size:15px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="font-size">Dimensione font: 15px</p>
    <p class="test-text font-example--text-a" style="font-size:13px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="test-text font-example--text-b" style="font-size:13px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="font-size">Dimensione font: 13px</p>
    <p class="test-text font-example--text-a" style="font-size:11px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="test-text font-example--text-b" style="font-size:11px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong><br />
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br />
      <strong>"San Giorgio": Giorno e orto didattico.</strong><br />
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br/>
      <strong>"San Giuseppe": Progetto loose parts</strong><br />
      Per facilitare una didattica inclusiva e democratica a scuola.<br />
      <strong>Progetto Interculturale</strong><br />
      dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...
    </p>
    <p class="font-size">Dimensione font: 11px</p>
  </div>
</section>

<section class="style-component style-component--table">
  <h1>Tabelle</h1>
  <p>Questa è la proposta del design delle tablle presenti nel sito, il quale si basa su una scala di grigi che caratterizzano il sito.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Orari</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7.30* - 9.00</td>
        <td>Pre-scuola</td>
      </tr>
      <tr>
        <td>9.00 - 9.30</td>
        <td>Accoglienza</td>
      </tr>
      <tr>
        <td>9.45 - 11.30</td>
        <td>Attività di sezione, intersezione,<br>laboratori e interventi specialistici</td>
      </tr>
      <tr>
        <td>11.30 - 12.00</td>
        <td>Riordino e preparazione al pranzo</td>
      </tr>
      <tr>
        <td>12.00 - 13.00</td>
        <td>Pranzo</td>
      </tr>
      <tr>
        <td>13.00 - 13.30</td>
        <td>Gioco libero</td>
      </tr>
      <tr>
        <td>13.00</td>
        <td>Prima uscita</td>
      </tr>
      <tr>
        <td>13.30 - 14.45</td>
        <td>Nanna piccoli</td>
      </tr>
      <tr>
        <td>14.00 - 15.30</td>
        <td>Attivita in sezionee interventi specialisti<br>(Mezzani e Grandi)</td>
      </tr>
      <tr>
        <td>15.45 - 16.00</td>
        <td>Uscita</td>
      </tr>
      <tr>
        <td>16.00 - 17.30*</td>
        <td>Post scuola</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="style-component style-component--table">
  <h1>Galleria</h1>
  <p>Il seguente esempio di galleria e formata da varie preview quadrate e un'anticipazione della descrizione, racchiuse da una cornice.</p>
  <div class="gallery">
    <figure class="gallery-card">
      <% link_to '/scuole/san_giorgio.html', class:'card__link' do %>
        <%= image_tag 'https://images.unsplash.com/photo-1503676260728-1c00da094a0b?fit=crop&w=200&h=200', class: 'card__image' %>
      <% end %>
      <figcaption class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</figcaption>
    </figure>
    <figure class="gallery-card">
      <% link_to '/scuole/san_giorgio.html', class:'card__link' do %>
        <%= image_tag 'https://images.unsplash.com/photo-1504275107627-0c2ba7a43dba?fit=crop&w=200&h=200', class: 'card__image' %>
      <% end %>
      <figcaption class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</figcaption>
    </figure>
    <figure class="gallery-card">
      <% link_to '/scuole/san_giorgio.html', class:'card__link' do %>
        <%= image_tag 'https://images.unsplash.com/photo-1484820540004-14229fe36ca4?fit=crop&w=200&h=200', class: 'card__image' %>
      <% end %>
      <figcaption class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
    </figure>
    <figure class="gallery-card">
      <% link_to '/scuole/san_giorgio.html', class:'card__link' do %>
        <%= image_tag 'https://images.unsplash.com/photo-1457978535446-dcd58011ea54?fit=crop&w=200&h=200', class: 'card__image' %>
      <% end %>
      <figcaption class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
    </figure>
    <figure class="gallery-card">
      <% link_to '/scuole/san_giorgio.html', class:'card__link' do %>
        <%= image_tag 'https://images.unsplash.com/photo-1504169448388-60f322bebb2c?fit=crop&w=200&h=200', class: 'card__image' %>
      <% end %>
      <figcaption class="card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</figcaption>
    </figure>
  </div>
</section>
